.title {
    position: absolute;
    
    left: 210px;
    top: 200px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;

    color: #000000;
}
.title1 {
    position: absolute;
    width: 248px;
    height: 54px;
    left: 0px;
    top: 0px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    
    color: #000000;
}
.slider_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
       
    position: absolute;
    width: auto;
    height: 551px;
    left: 125px;
    top: 150px;
}
.card {
    position: static;
    width: 340px;
    height: 280px;
    left: 0px;
    top: 0px;

    overflow: hidden;
    
    border: 3px solid #F2F2F2;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 17px;
}
.card1 {
    position: static;
    width: 350px;
    height: 300px;
    left: 0px;
    top: 0px;

    overflow: hidden;
    
    background: #FFFFFF;
    border: 3px solid #F2F2F2;
    box-sizing: border-box;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 30px;
    margin-top: 40px;
}
.card_img {
    display: block;
    margin:  0 auto;
    max-width: auto;
    height: 150px;
}
.card_content {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    padding: 0px; 
    margin: 35px 20px;

    position: static;
    height: 84px;
}
.card_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;

    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: #232323;
}
.card_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;

    color: #232323;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}
.product_container {
    flex: 1 1 auto;

    margin: 0 auto;

    position: absolute;
    width: 1520px;
    height: 100%;
    left: 20px;
    top: 110px;
}
.cards_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 0px;
    top: 40px;
}

