 .slider_block {

    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center; 

}
.sports_block {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
}
.title {
    position: relative;
    right: 640px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;

    color: #000000;
} 
.title_sport {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    
    color: #000000;
}
.card {
    min-width: 420px;
    overflow: hidden;
    
    border: 3px solid #F2F2F2;
}
.card_sport {
    max-width: 387px;
    overflow: hidden;
    
    background: #FFFFFF;
    border: 3px solid #F2F2F2;
    
    margin-right: 30px;
    margin-top: 40px;
}
.card_img {
    display: block;
    margin:  0 auto;
    max-width: auto;
    height: 200px;
}
.card_img_sport {
    display: block;
    margin:  0 auto;
    max-width: auto;
    min-height: 170px;
}
.card_content {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    padding: 0px; 
    margin: 65px 30px;

    position: static;
    height: 84px;
}
.card_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;

    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: #232323;
}
.card_text {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #232323;

    margin: 8px 0px;
} 


