.logo {
    width: 110px;
    height: 27px;

    position: static;
    left: 0%;
    right: 68.66%;
    top: 0%;
    bottom: 0%;

    margin: 25px 55px;
}
.link {
    position: static;
    width: 46px;
    height: 24px;
    left: 165px;
    top: 1.65px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px; 

    text-decoration-line: none;
    text-transform: uppercase; 

    color: #FFFFFF;

    margin: 27px 55px;
}
.active {
    text-decoration: underline;
}


