.footer {
    position: fixed;
    width: 1560px;
    height: 78px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../img/image 1.png');
}
.text_content {
    position: absolute;
    width: 145px;
    height: 24px;
    left: 29px;
    top: calc(50% - 24px/2);

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    text-transform: uppercase;

    color: #FFFFFF;
}