* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, 
body {
    height: 100%;
    
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;

    position: absolute;
}

/* Media */

@media (min-width: 1560px) {
    .page {
        left: 0;
        right: 0;
    }
}



